import flash
from {{ data_module_import_path }} import {{ data_module_class }}
from {{ task_import_path }} import {{ task_class }}

datamodule = {{ data_module_class }}.from_lists(
    predict_data=[
        "{{ input_text }}",
    ],
    batch_size=4,
)

trainer = flash.Trainer()
model = {{ task_class }}.load_from_checkpoint("{{ checkpoint_path }}")
predictions = trainer.predict(model, datamodule=datamodule, output="labels")
